.add_edit_antd{
  width: 500px;
}
.add_edit_wrap{
  width: 500px;
  margin: 100px auto;
}
.header {
  display: flex;
  align-items: center;
  background-color: #030303;
  padding: 20px;
  width: 100vw;
  justify-content: space-around;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.nav__link {
  justify-content: space-around;
  width: 100vw;
}
.nav__item{
  display: flex;
}
.nav__link a{
  padding: 10px;
}
.redux__heading{
  width: 240px;
}
.add_edit{
  display: flex;
  justify-content: space-between;
}
.add_edit a{
padding: 10px;
}
.input__search{

  width: 400px;
  display: flex;
  align-items: center;
}
.input__search__record{
  display: flex;
}
.input__more{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.register__already{
  color: #e91d1d;
  text-align: center;
  padding: 10px 0;

}
.register__pure{
  text-align: center;
}
.todo--ist{
  padding: 10px;
}
.todo__ist{
  display: flex;
  justify-content: space-between;
}